/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-image: url("main-grey-bg.jpg");
	}

/* .root {
	-fx-background-color:
	#ffffff;
	}*/

 .button {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Rockwell";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}
 /* .button {
	-fx-background-color:
	#000000,
	linear-gradient(#ffffff 0%, #80e6e6 100%);
	-fx-background-insets: 0,3;
	-fx-background-radius: 4,1;
	-fx-padding: 10 20 10 20;
	-fx-text-fill: black;
	-fx-font-family: "Rockwell";
	-fx-font-size: 18px;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}*/

.toggle-button {
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}
/* .button:hover {
	-fx-background-color: linear-gradient(#20262b, #191d22);
}*/

.button:hover {
	-fx-background-color: #000000;
	-fx-text-fill: #ffffff;
}

.label {
	-fx-font-size: 14 px;
	-fx-font-weight: bold;
	-fx-text-fill: #000000;
	-fx-font-family: "Arial";
}

.progress-bar {
	-fx-background-color: #000000;
	-fx-accent: #ff3333;
	-fx-border-color: #000000;
	-fx-border-width: 2px;
}

.tab .tab-label {
	-fx-alignment: CENTER;
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}

.tab-pane {
	-fx-border-width: 5px;
	-fx-border-color: linear-gradient(#b4b4b4, #cacaca);
}

#image-box {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

#StatCard-SM {
	-fx-border-style: solid;
	-fx-border-color: #0c1a27;
}

.columnTitle {
	-fx-text-fill: #19334d;
	-fx-font-weight: bold;
	-fx-font-size: 12 px;
}

.featureTitle {
	-fx-text-fill: #0c1a27;
	-fx-font-weight: bold;
	-fx-font-size: 16 px;
	-fx-text-decoration: underline;
}

.calenderButton0 {
	-fx-background-color: #004080,
        linear-gradient(#cce6ff 90%, #ff8533 40%);
    -fx-background-insets: 0,1,2,0;
    -fx-border-color: #000000;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Rockwell";
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

.calenderButton1 {
	-fx-background-color: #004080,
        linear-gradient(#cce6ff 90%, #0066ff 40%);
    -fx-background-insets: 0,1,2,0;
    -fx-border-color: #000000;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Rockwell";
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

.calenderButton2 {
	-fx-background-color: #004080,
        linear-gradient(#cce6ff 90%, #b30000 40%);
    -fx-background-insets: 0,1,2,0;
    -fx-border-color: #000000;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Rockwell";
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

#Title { font-size: 16pt; }

#ButtonWorkouts {
	-fx-background-color: #004080;
	-fx-text-fill: #ffffff;
}

#ButtonWorkouts:hover {
	-fx-background-color: #4da6ff;
	-fx-font-size: 22;
}


#ButtonDiet {
	-fx-background-color: #008000;
	-fx-text-fill: #ffffff;
}

#ButtonDiet:hover {
	-fx-background-color: #00e600;
	-fx-font-size: 22;
}


#ButtonCharacter {
	-fx-background-color: #b30000;
	-fx-text-fill: #ffffff;
}

#ButtonCharacter:hover {
	-fx-background-color: #ff0000;
	-fx-font-size: 22;
}

#ButtonSocial {
	-fx-background-color: #862d59;
	-fx-text-fill: #ffffff;
}

#ButtonSocial:hover {
	-fx-background-color: #ff66cc;
	-fx-font-size: 22;
}

#Workout {
	-fx-background-color: linear-gradient(#ffffff 0%, #ccffff 100%);}


#Character {
	-fx-background-color: linear-gradient(#ffffff 0%, #ffcccc 100%);
}

#Diet {
	-fx-background-color: linear-gradient(#ffffff 0%, #ccffcc 100%);
}

#Social {
	-fx-background-color: linear-gradient(#ffffff 0%, #f2d9e6 100%);
}

#IntroLabel {
	-fx-font-size: 18px;
	-fx-font-family: "Rockwell";
	-fx-text-fill: #000000;
	-fx-font-weight: bold;
}

#BreakfastButtons {
	-fx-font-size: 14px;
	-fx-font-family: "AR BLANCA";
	-fx-background-color: #ff751a;
	-fx-border-color: #000000;
	-fx-border-width: 2px;
	-fx-background-radius: 10; 
	-fx-border-radius: 10;
}
#BreakfastButtons:hover {
	-fx-background-color: #cc5200;
}

#LunchButtons {
	-fx-font-size: 14px;
	-fx-font-family: "AR BLANCA";
	-fx-background-color:  #33cc00;
	-fx-border-color: #000000;
	-fx-border-width: 2px;
	-fx-background-radius: 10; 
	-fx-border-radius: 10;
}

#LunchButtons:hover {
	-fx-background-color: #1a6600;
}

#DinnerButtons {
	-fx-font-size: 14px;
	-fx-font-family: "AR BLANCA";
	-fx-background-color:  #990000;
	-fx-border-color: #000000;
	-fx-border-width: 2px;
	-fx-background-radius: 10; 
	-fx-border-radius: 10;
}

#DinnerButtons:hover {
	-fx-background-color: #660000;
}

#BreakfastLabel {
	-fx-font-size: 20px;
	-fx-font-family: "AR BLANCA";
	-fx-text-fill: #ff751a;
}

#LunchLabel {
	-fx-font-size: 20px;
	-fx-font-family: "AR BLANCA";
	-fx-text-fill: #0066ff;
}

#DinnerLabel {
	-fx-font-size: 20px;
	-fx-font-family: "AR BLANCA";
	-fx-text-fill: #990000;
}

#DayLabel {
	-fx-font-size: 20px;
	-fx-font-family: "AR BLANCA";
	-fx-text-fill: #000000;
}

.smallerText {
	-fx-font-size: 10 px;
	-fx-font-weight: bold;
	-fx-text-fill: #000000;
	-fx-font-family: "Arial";
}

.levelBarText {
	-fx-font-size: 14 px;
	-fx-font-weight: bold;
	-fx-text-fill: #ff0000;
	-fx-font-family: "Arial";
}

.statCardDetailsText {
	-fx-font-size: 10 px;
	-fx-font-weight: bold;
	-fx-text-fill: #000000;
	-fx-font-family: "Arial";
}
